# .github/workflows/notify-merge.yml
name: Notify PR Merge to Microservice

on:
  pull_request:
    types:
      - closed

jobs:
  notify:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Send Webhook Payload
        env:
          PAYLOAD: ${{ toJSON(github.event) }}
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -d "$PAYLOAD" \
            ${{ secrets.PR_NOTIFIER_WEBHOOK_URL }}
